*.ruriya.com {
  root /var/www/caddy
  gzip
  reverse_proxy /api http://api.waditu.com 
}

stock.ruriya.com {
  root * /var/www/caddy
  file_server
  encode gzip
  log
  reverse_proxy /api/* http://api.waditu.com
}
